$primary-light : #004d43;
$primary-dark: #0f433a;
$secondary: #ebaa20;

$white-text: #fff;
$black-text: #000;
$background: #ebebeb;

$text-muted: #757575;

$violet: #d9017a;
$aside: #1D2327;
$bg-admin: #F0F0F1;