@import './base/variables';

:root {
    --primary-light: #{$primary-light};
    --primary-dark: #{$primary-dark};
    --secondary: #{$secondary};
    --white-text: #{$white-text};
    --black-text: #{$black-text};
    --violet: #{$violet};
    --background:#{$background};
    --text-muted:#{$text-muted};
    --aside: #{$aside};
    --bg-admin: #{$bg-admin};
}

